.color {
  color: white;
}

.lista {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 60px;
}